@import url('./styles/todolists.css');
@import url('./styles/main.css');
@import url('./styles/footer.css');
@import url('./styles/login.css');
@import url('./styles/signup.css');
@import url('./styles/information.css');

@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh; 
  overflow: hidden;
}

main {
  flex-grow: 1;
}

ol, ul {
  margin: 0;
  padding: 0;
	list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  font-family: 'TheJamsil5Bold', sans-serif;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

.header {
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  background-color:mediumslateblue;
  color: white;
}

.logo-box {
  display: inline-block;
  width: 140px;
  margin-left: 16px;
  text-align: center;
}

.logo {
  font-weight: bold;
  font-size: 20px; 
}

.header__nav-item {
  font-weight: bold;
  font-size: 20px;
}

.header__nav-item a {
  line-height: 72px
}


.header__nav-item {
  display: inline-block;
  position: relative;
}

.header__nav-item:last-child {
  margin-right: 10px;
}

.header__nav-item a {
  padding: 0 0.8em;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.menuBtn {
  background-color: inherit;
  border: none;
  padding: 0 16px;
  height: 72px;
  display: none;
  cursor: pointer;
}

.menuImg {
  padding: 0;
  width: 30px;
  height: 27px;
}

#slide-container {
  display: none;
}

#slide-container.active {
  display: block;
}

.slide {
  text-align: center;
  background-color: rgb(146, 127, 251)
}

.slide ul li:not(:first-child)  {
  border-top: 2px solid mediumslateblue;
}

.mobile-menu {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

@media (max-width: 769px) {
  .header__nav-item {
    display: none;
  }
  .menuBtn {
    display: block;
  }
  .logo-box {
    margin-left: calc(50% - 70px);
  }
}