{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?after">
</head>
<body>
  <header class="header">
    <nav class="header__nav-item">
      <ul>
        <li class="header__nav-item">
          <a href="">내정보</a>
        </li>
        <li class="header__nav-item">
          {% if user.is_authenticated %}
          <a href="{% url 'common:logout' %}">로그아웃</a>
          {% else %}
          <a href="{% url 'common:login' %}">로그인</a>
          {% endif %}
        </li>
        <li class="header__nav-item">
          <a href="{% url 'common:signup' %}">회원가입</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
      {% block content %}
      {% endblock %}
  </main>
  <footer>
    <h1 class="sr-only">Copyright</h1>
    <p>
      2024 jaewon - All rights reserved
    </p>
  </footer>
<script>
  const btn = document.getElementById('addBtn');
  const form_method = document.getElementById('add_form');

  btn.addEventListener('click', function() {
    {% if user.is_anonymous %}
      if (confirm('로그인 후 이용 가능합니다. 로그인 하시겠습니까?')) {
        form_method.method = "post";
      }
      else {
        form_method.method = "get";
      }
    {% endif %}
  })
</script>
<script src="{% static 'main.js' %}?after"></script>
</body>
</html>