@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

#information-container {
  font-family: 'TheJamsil5Bold', sans-serif;
  color: rgb(58, 58, 58);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 266px;
  height: 200px;
  background-color: rgb(123, 104, 238);
  border-radius: 15px;
  position: absolute;
  top: 100px;
}

#information-container #work {
  display: inline-flex;
  justify-content: space-evenly;
}

#info-work {
  margin-bottom: 8px;
}

#completed-work-box, #pending-work-box {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 80px;
  background-color: rgb(145, 127, 247);
  border-radius: 15px;
}

#info-username, #info-useremail, #info-work {
  margin-left: 10px;
  padding: 5px;
}

#completed-work-count, #pending-work-count {
  margin-bottom: 6px;
  font-size: 22px;
}